---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact Us">
	<h1 class="text-4xl font-bold mb-4">Contact Us</h1>
	<p class="text-lg">This is the contact page of our Astro site.</p>
</Layout>