---
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const response = await fetch('http://localhost:1337/api/posts');
  const { data } = await response.json();
  
  return data.map(post => ({
    params: { slug: post.attributes.slug },
    props: { post: post.attributes },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.title}>
	<article class="prose lg:prose-xl mx-auto">
		<h1>{post.title}</h1>
		<div set:html={post.content}></div>
	</article>
</Layout>